$header_color: rgba(245,248,248,.9);
$bold: HelveticaNeueBold;
$reglr: HelveticaNeue;
$logo_colorgr:#626262;
$logo_colorgn: #06b5a9;
$pane_rd: #cf1a2b;
$border_rgba:rgba(255, 255, 255,0.4);
$itm_ylw: #f2ca66;
$whte:#fff;
$blck: #000;