@font-face {
  font-family: HelveticaNeueBold; 
  src: url("../fonts/HelveticaNeueBold.ttf");
}

@font-face {
  font-family: HelveticaNeue; 
  src: url("../fonts/HelveticaNeue.ttf");
}

@font-face {
  font-family: HelveticaNeueBd; 
  src: url("../fonts/HelveticaNeueBd.ttf");
}

@font-face {
  font-family: HelveticaNeueBlackCond; 
  src: url("../fonts/HelveticaNeueBlackCond.ttf");
}

@font-face {
  font-family: HelveticaNeueHv; 
  src: url("../fonts/HelveticaNeueHv.ttf");
}

@font-face {
  font-family: HelveticaNeueIt; 
  src: url("../fonts/HelveticaNeueIt.ttf");
}

@font-face {
  font-family: HelveticaNeueLight; 
  src: url("../fonts/HelveticaNeueLight.ttf");
}

@font-face {
  font-family: HelveticaNeueLt; 
  src: url("../fonts/HelveticaNeueLt.ttf");
}

@font-face {
  font-family: HelveticaNeueThin; 
  src: url("../fonts/HelveticaNeueThin.ttf");
}

@font-face {
  font-family: HelveticaNeueMed; 
  src: url("../fonts/HelveticaNeueMed.ttf");
}

@font-face {
  font-family: HelveticaNeueMedium; 
  src: url("../fonts/HelveticaNeueMedium.ttf");
}