@import 'variables';
@import 'footer_component';
@import 'header_component';
@import 'banner_component';
@import 'promotion_component';
@import 'categorie_component';
@import 'product_component';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body,
header,
footer,
.app-content {
  min-width: 1280px;
}

.app-wrapper {
  padding: 0 53px;
  max-width: 1023px;
  margin: 0 auto;
}

.app-content {
  overflow: hidden;
  margin: 0 auto;
}